{% extends "layout.html" %}
{% block title %}Editar Servicio{% endblock %}

{% block content %}
    <h1 class="mb-4">Editar Servicio</h1>

    <form action="{{ url_for('services.editar_servicio', servicio_id=servicio.id) }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.nombre.label }} {{ form.nombre}}<br>
        {{ form.descripcion.label }} {{ form.descripcion}}<br>
        {{ form.keywords.label }} {{ form.keywords}}<br>
        {{ form.centros.label }} {{ form.centros}}<br>
        {{ form.tipo_servicio.label }} {{ form.tipo_servicio}}<br>
        {{ form.habilitado.label }} {{ form.habilitado}}<br>
        <button type="submit" class="btn btn-primary">Editar</button>
    </form>
    <form action="{{ url_for('services.eliminar', servicio_id=servicio.id) }}" method="POST">
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <form></form>
{% endblock %}