{% extends "layout.html" %}
{% block title %}Mantenimiento{% endblock %}
{% block content %}
<html>
<head>
    <title>Selección de Modo de Mantenimiento</title>
</head>
<body>
    <h1>Selecciona el Modo de Mantenimiento</h1>
    <form method="POST" action="{{ url_for('maintenance.toggle_maintenance') }}">
        {{ form.hidden_tag() }}
        {% if not  is_maintenance() %}
             {{ form.activate_maintenance() }}
        {% endif %}
        {% if  is_maintenance() %}
             {{ form.deactivate_maintenance() }}
        {% endif %}
        <br>
        <br>
        {{form.mensaje.label}}
        {{form.mensaje}}
        {{form.guardar()}}
    </form>
</body>
</html>
{% endblock %}