{% extends "layout.html" %}
{% block title %}Mantenimiento{% endblock %}
{% block content %}
<html>
<head>
    <title>Selección de Modo de Mantenimiento</title>
</head>
<body>
    <h1>Selecciona el Modo de Mantenimiento</h1>
    <form method="POST" action="{{ url_for('maintenance.toggle_maintenance') }}">
        <input type="submit" value="Activar Mantenimiento" name="action">
        <input type="submit" value="Desactivar Mantenimiento" name="action">
    </form>
</body>
</html>
{% endblock %}