{% extends "layout.html" %}
{% block title %}Contacto{% endblock %}
{% block content %}
<h1>Editar informacion de contacto</h1>
<form action="{{ url_for('maintenance.update_contacto') }}" method="POST">
        {{form.email.label}} {{form.email}}
        {{form.telefono.label}} {{form.telefono}}
        {{form.direccion.label}} {{form.direccion}}
        {{form.guardar}}
 </form>       
 <a href="{{ url_for('maintenance.info_contacto') }}" class="btn btn-primary mt-2">volver atras</a>
{% endblock %}