{% extends "layout.html" %}
{% block title %}Listado de usuarios{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Listado de usuarios:</h1>


    <form method="GET" action="{{ url_for('administracion.index') }}" class="form-inline mb-4 mt-3">
        <div class="form-group">
            <label for="email" class="mr-2">Correo:</label>
            {% if request.args.get('email') %}
                <input type="text" id="email" name="email" value="{{ request.args.get('email') }}" class="form-control">
            {% else %}
                <input type="text" id="email" name="email" label="Ingrese un correo" class="form-control">
            {% endif %}
        </div>
        
        <div class="form-group mx-sm-3">
            <label for="estado" class="mr-2">Activo:</label>
            <select id="estado" name="estado" class="form-control">
                <option value="todos"></option>
                <option value="activo">SI</option>
                <option value="bloqueado">NO</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    {% else %}
        <h2>No se encontraron usuarios</h2>
    {% endif %}
</div>
{% endblock %}