{% extends 'layout.html' %}
{% block title %} {{ user.nombre }} {{ user.apellido }} {% endblock %}

{% block content %}
<div class="container">
    <h1>{{ user.nombre }} {{ user.apellido }}</h1>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Correo electrónico: </strong>{{ user.email }}</p>
            <p><strong>Estado: </strong>
                {% if user.activo %}
                    Activo
                {% else %}
                    Bloqueado
                {% endif %}
            </p>
            {% if not user_is_superadmin %}
                <form method="post" action="{{ url_for('users.update_state', user_id=user.id) }}">
                    <input type="hidden" name="usuario_id" value="{{ user.id }}">
                    <button type="submit" class="btn btn-primary">
                        {% if user.activo %}
                            Bloquear
                        {% else %}
                            Activar
                        {% endif %}
                    </button>
                </form>
            {% endif %}
            
            <a href="{{ url_for('users.index') }}" class="btn btn-outline-primary mt-2">
                <i class="fas fa-arrow-left"></i> Volver atrás
            </a>
        </div>
    </div>
</div>

{% endblock %}