.detalles {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ebdada;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
    
.detalles h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
    
.detalles li {
    font-size: 1.2em;
    line-height: 1.6;
}
    
button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    
#mapa { 
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px
}